*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,purple ,pink);
}
.calculator{
    width: 250px;
    height: 450px;
    background:rgb(18, 18, 18) ;
    border: 10px solid black;
}
.input #display{
    height: 30%;
    width: 80%;
    color: rgb(255,252, 253);
    font-size: 25px;
    font-weight: 500;
    border-radius: 30px;
    background-color: rgb(5, 5, 5);
    border: none;
    text-align: right;
    margin-right: 10px;

}
.input{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 97%;
    height: 25%;
    color: rgb(5, 5, 5);
    border: none;
    text-align: right;
    background-color: rgb(5, 5, 5);
    border: 4px solid rgb(77, 73, 72);
}
.button_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button{
    width: 45px;
    height: 45px;
    margin: 6px;
    border-radius: 20px;
    font-weight: 500;
    color: white;
    box-shadow: 0px 4px 4px black;
    background: rgb(73,67,74);
    border: none;
}
.button_container .orange{
    background: rgb(254,149,1);
}
